In [1]:
import pymongo
import pandas
import seaborn
import re

In [2]:
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client["trivia_bank"]
setOneCollection = db['Set_One']
setTwoCollection = db['Set_Two']
usersCollection = db['Users']

In [3]:
setOneCollection.create_index("Question", unique= True)
setTwoCollection.create_index("Question", unique= True)
usersCollection.create_index("Username", unique=True)
usersCollection.create_index("Email", unique= True)

'Email_1'

In [4]:
setOne = [
   { 
       "Question": "What color is the sky?", 
        "Answer": "Blue",
   }, 
   {
       "Question": "What is Texas' state flower?", 
       "Answer": "Bluebonnet", 
   },
   {
       "Question": "What is the largest bone in the human body?",
       "Answer": "Femur",
   }
]

In [5]:
setTwo = [
    {
        "Question": "Who was the youngest U.S President?", 
        "Answer": "Theodore Roosevelt",
    },
    {
        "Question": "When was the first Ipod released?",
        "Answer": 2001,
    },
    {
        "Question": "What president was a liscensed bartender", 
        "Answer": "Abraham Lincoln",
    }
]

In [6]:
users = [
    {
        "FirstName" : "Max",
        "LastName" : "Well",
        "Username" : "max_well",
        "Password" : "password123",
        "Email" : "max.well@example.com", 
    },
    {
        "FirstName" : "Maya",
        "LastName" : "Rose",
        "Username" : "maya_rose",
        "Password" : "password321",
        "Email" : "maya.rose@example.com", 
    }
]

In [7]:
try:
    setOneCollection.insert_many(setOne)
    print("Set One Data inserted successfully.")
except Exception as E:
    if re.search('duplicate key', str(E)):
        print("*Attempted to insert duplicate key(s)*")
    else:
        print(str(E))

Set One Data inserted successfully.

In [8]:
try:
    setTwoCollection.insert_many(setTwo)
    print("Set Two Data inserted successfully.")
except Exception as E:
    if re.search('duplicate key', str(E)):
        print("*Attempted to insert duplicate key(s)*")
    else:
        print(str(E))

Set Two Data inserted successfully.

In [9]:
try:
    usersCollection.insert_many(users)
    print("User Data inserted successfully.")
except Exception as E:
    if re.search('duplicate key', str(E)):
        print("*Attempted to insert duplicate key(s)*")
    else:
        print(str(E))

User Data inserted successfully.

In [10]:
setOneDocuments = setOneCollection.find({})
setTwoDocuments = setTwoCollection.find({})
usersDocuments = usersCollection.find({})

In [11]:
pandas.DataFrame(list(setOneDocuments))

,_id,Question,Answer
0,64e62227d5da810c5ee29892,What color is the sky?,Blue
1,64e62227d5da810c5ee29893,What is Texas' state flower?,Bluebonnet
2,64e62227d5da810c5ee29894,What is the largest bone in the human body?,Femur

In [12]:
pandas.DataFrame(list(setTwoDocuments))

,_id,Question,Answer
0,64e62227d5da810c5ee29895,Who was the youngest U.S President?,Theodore Roosevelt
1,64e62227d5da810c5ee29896,When was the first Ipod released?,2001
2,64e62227d5da810c5ee29897,What president was a liscensed bartender,Abraham Lincoln

In [13]:
pandas.DataFrame(list(usersDocuments))

,_id,FirstName,LastName,Username,Password,Email
0,64e62227d5da810c5ee29898,Max,Well,max_well,password123,max.well@example.com
1,64e62227d5da810c5ee29899,Maya,Rose,maya_rose,password321,maya.rose@example.com